@using WatchIt.Common.Model.Persons
@using WatchIt.Common.Model.Roles



<div class="panel @(Class)">
    <div class="vstack gap-3">
        <span class="panel-text-title">Actors</span>
        <RoleListComponent TRole="ActorRoleResponse"
                           TQuery="ActorRoleMediaQueryParameters"
                           TRoleParent="PersonResponse"
                           Id="@(Id)"
                           GetRolesAction="@(MediaClientService.GetMediaAllActorRoles)"
                           NameSource="@((_, parent) => parent.Name)"
                           AdditionalInfoSource="@((item, _) => $" as {item.Name}")"
                           GetRoleParentMethod="@((id, action) => PersonsClientService.GetPerson(id, action))"
                           ParentItemIdSource="@(item => item.PersonId)"
                           ParentUrlTemplate="/person/{0}"
                           PosterPlaceholder="/assets/person_poster.png"
                           PosterDownloadingTask="@((id, action) => PersonsClientService.GetPersonPhoto(id, action))"
                           GetGlobalRatingMethod="@((id, action) => RolesClientService.GetActorRoleRating(id, action))"
                           GetUserRatingMethod="@((id, userId, actionSuccess, actionNotFound) => RolesClientService.GetActorRoleRatingByUser(id, userId, actionSuccess, actionNotFound))"
                           PutRatingMethod="@((id, request) => RolesClientService.PutActorRoleRating(id, request))"
                           DeleteRatingMethod="@(id => RolesClientService.DeleteActorRoleRating(id))"/>
    </div>
</div>