@using WatchIt.Common.Model.Genders
@inherits FilterFormComponent<WatchIt.Common.Model.Persons.PersonResponse, WatchIt.Common.Model.Persons.PersonQueryParameters>



<EditForm Model="@(Query)">
    <div class="container-grid">
        <div class="row mb-1">
            <div class="input-group input-group-sm">
                <span class="col-3 input-group-text">Name</span>
                <InputText class="col form-control" placeholder="Search with regex" @bind-Value="@(Query.Name)"></InputText>
            </div>
        </div>
        <div class="row my-1">
            <div class="input-group input-group-sm">
                <span class="col-3 input-group-text">Full name</span>
                <InputText class="col form-control" placeholder="Search with regex" @bind-Value="@(Query.FullName)"/>
            </div>
        </div>
        <div class="row my-1">
            <div class="input-group input-group-sm">
                <span class="col-3 input-group-text">Description</span>
                <InputText class="col form-control" placeholder="Search with regex" @bind-Value="@(Query.Description)"/>
            </div>
        </div>
        <div class="row my-1">
            <div class="input-group input-group-sm">
                <span class="col-3 input-group-text">Birth date</span>
                <InputDate TValue="DateOnly?" class="col form-control" @bind-Value="@(Query.BirthDateFrom)"/>
                <span class="col-auto input-group-text">-</span>
                <InputDate TValue="DateOnly?" class="col form-control" @bind-Value="@(Query.BirthDateTo)"/>
            </div>
        </div>
        <div class="row my-1">
            <div class="input-group input-group-sm">
                <span class="col-3 input-group-text">Death date</span>
                <InputDate TValue="DateOnly?" class="col form-control" @bind-Value="@(Query.DeathDateFrom)"/>
                <span class="col-auto input-group-text">-</span>
                <InputDate TValue="DateOnly?" class="col form-control" @bind-Value="@(Query.DeathDateTo)"/>
            </div>
        </div>
        <div class="row my-1">
            <div class="input-group input-group-sm">
                <span class="col-3 input-group-text">Gender</span>
                <InputSelect TValue="short?" class="col form-control" @bind-Value="@(Query.GenderId)">
                    <option @onclick="() => Query.GenderId = null">No choice</option>
                    @foreach (GenderResponse gender in _genders)
                    {
                        <option value="@(gender.Id)">@(gender.Name)</option>
                    }
                </InputSelect>
            </div>
        </div>
        <div class="row my-1">
            <div class="input-group input-group-sm">
                <span class="col-3 input-group-text">Rating (count)</span>
                <NumericEdit TValue="long?" Class="col form-control" Min="0" @bind-Value="@(Query.RatingCountFrom)"/>
                <span class="col-auto input-group-text">-</span>
                <NumericEdit TValue="long?" Class="col form-control" Min="0" @bind-Value="@(Query.RatingCountTo)"/>
            </div>
        </div>
        <div class="row mt-1">
            <div class="input-group input-group-sm">
                <span class="col-3 input-group-text">Rating (average)</span>
                <NumericEdit TValue="decimal?" Class="col form-control" Min="0" Max="10" Step="@(0.01M)" @bind-Value="@(Query.RatingAverageFrom)"/>
                <span class="col-auto input-group-text">-</span>
                <NumericEdit TValue="decimal?" Class="col form-control" Min="0" Max="10" Step="@(0.01M)" @bind-Value="@(Query.RatingAverageTo)"/>
            </div>
        </div>
    </div>
</EditForm>