@inherits WatchIt.Website.Components.Common.ListComponent.FilterFormComponent<WatchIt.Common.Model.Series.SeriesResponse, WatchIt.Common.Model.Series.SeriesQueryParameters>

<EditForm Model="@(Query)">
    <div class="container-grid">
        <div class="row mb-1">
            <div class="input-group input-group-sm">
                <span class="col-3 input-group-text">Title</span>
                <InputText class="col form-control" placeholder="Search with regex" @bind-Value="@(Query.Title)"></InputText>
            </div>
        </div>
        <div class="row my-1">
            <div class="input-group input-group-sm">
                <span class="col-3 input-group-text">Original title</span>
                <InputText class="col form-control" placeholder="Search with regex" @bind-Value="@(Query.OriginalTitle)"/>
            </div>
        </div>
        <div class="row my-1">
            <div class="input-group input-group-sm">
                <span class="col-3 input-group-text">Description</span>
                <InputText class="col form-control" placeholder="Search with regex" @bind-Value="@(Query.Description)"/>
            </div>
        </div>
        <div class="row my-1">
            <div class="input-group input-group-sm">
                <span class="col-3 input-group-text">Release date</span>
                <InputDate TValue="DateOnly?" class="col form-control" @bind-Value="@(Query.ReleaseDateFrom)"/>
                <span class="col-auto input-group-text">-</span>
                <InputDate TValue="DateOnly?" class="col form-control" @bind-Value="@(Query.ReleaseDateTo)"/>
            </div>
        </div>
        <div class="row my-1">
            <div class="input-group input-group-sm">
                <span class="col-3 input-group-text">Length</span>
                <NumericEdit TValue="short?" Class="col form-control" Min="0" @bind-Value="@(Query.LengthFrom)"/>
                <span class="col-auto input-group-text">-</span>
                <NumericEdit TValue="short?" Class="col form-control" Min="0" @bind-Value="@(Query.LengthTo)"/>
            </div>
        </div>
        <div class="row my-1">
            <div class="input-group input-group-sm">
                <span class="col-3 input-group-text">Has ended</span>
                <div class="btn-group col">
                    <input type="radio" class="btn-check" name="has_ended" id="has_ended_yes" autocomplete="off" @onclick="() => Query.HasEnded = true">
                    <label class="btn btn-outline-secondary btn-sm" for="has_ended_yes">Yes</label>
                    <input type="radio" class="btn-check" name="has_ended" id="has_ended_no_choice" autocomplete="off" @onclick="() => Query.HasEnded = null" checked>
                    <label class="btn btn-outline-secondary btn-sm" for="has_ended_no_choice">No choice</label>
                    <input type="radio" class="btn-check" name="has_ended" id="has_ended_no" autocomplete="off" @onclick="() => Query.HasEnded = false">
                    <label class="btn btn-outline-secondary btn-sm" for="has_ended_no">No</label>
                </div>
            </div>
        </div>
        <div class="row my-1">
            <div class="input-group input-group-sm">
                <span class="col-3 input-group-text">Rating (count)</span>
                <NumericEdit TValue="long?" Class="col form-control" Min="0" @bind-Value="@(Query.RatingCountFrom)"/>
                <span class="col-auto input-group-text">-</span>
                <NumericEdit TValue="long?" Class="col form-control" Min="0" @bind-Value="@(Query.RatingCountTo)"/>
            </div>
        </div>
        <div class="row mt-1">
            <div class="input-group input-group-sm">
                <span class="col-3 input-group-text">Rating (average)</span>
                <NumericEdit TValue="decimal?" Class="col form-control" Min="0" Max="10" Step="@(0.01M)" @bind-Value="@(Query.RatingAverageFrom)"/>
                <span class="col-auto input-group-text">-</span>
                <NumericEdit TValue="decimal?" Class="col form-control" Min="0" Max="10" Step="@(0.01M)" @bind-Value="@(Query.RatingAverageTo)"/>
            </div>
        </div>
    </div>
</EditForm>