<div class="panel">
    <div class="vstack gap-3">
        <h4 class="fw-bold">Change password</h4>
        <EditForm Model="@(_data)">
            <AntiforgeryToken/>
            <div class="container-grid">
                <div class="row form-group my-1">
                    <label for="oldPassword" class="col-2 col-form-label">Old password</label>
                    <div class="col-10">
                        <InputText id="oldPassword" class="form-control" @bind-Value="_data.OldPassword"/>
                    </div>
                </div>
                <div class="row form-group my-1">
                    <label for="newPassword" class="col-2 col-form-label">New password</label>
                    <div class="col-10">
                        <InputText id="newPassword" type="password" class="form-control" @bind-Value="_data.NewPassword"/>
                    </div>
                </div>
                <div class="row form-group my-1">
                    <label for="newPasswordConf" class="col-2 col-form-label">Confirm new password</label>
                    <div class="col-10">
                        <InputText id="newPasswordConf" type="password" class="form-control" @bind-Value="_data.NewPasswordConfirmation"/>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col align-self-center">
                        @if (!string.IsNullOrWhiteSpace(_error))
                        {
                            <span class="text-danger">@(_error)</span>
                        }
                        else if (_saved)
                        {
                            <span class="text-success">New email saved!</span>
                        }
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-secondary" disabled="@(_saving)" @onclick="@(Save)">
                            <LoadingButtonContentComponent IsLoading="@(_saving)" Content="Save" LoadingContent="Saving..."/>
                        </button>
                    </div>
                </div>
            </div>
        </EditForm>
    </div>
</div>