@using WatchIt.Common.Model.Genders



<div class="panel @(Class)">
    @if (_loaded)
    {
        <div class="vstack gap-3">
            <h4 class="fw-bold">Basic profile info</h4>
            <EditForm Model="@(_accountProfileInfo)">
                <AntiforgeryToken/>
                <div class="container-grid">
                    <div class="row form-group my-1">
                        <label for="desc" class="col-2 col-form-label">Description</label>
                        <div class="col-10">
                            <InputTextArea id="desc" class="form-control" @bind-Value="_accountProfileInfo!.Description"/>
                        </div>
                    </div>
                    <div class="row form-group my-1">
                        <label for="desc" class="col-2 col-form-label">Gender</label>
                        <div class="col-10">
                            <InputSelect TValue="short?" id="desc" class="form-control" @bind-Value="_accountProfileInfo!.GenderId">
                                <option value="@(default(short?))">No choice</option>
                                @foreach (GenderResponse gender in _genders)
                                {
                                <option value="@(gender.Id)">@(gender.Name)</option>
                                }
                            </InputSelect>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col align-self-center">
                            @if (!string.IsNullOrWhiteSpace(_error))
                            {
                            <span class="text-danger">@(_error)</span>
                            }
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-secondary" disabled="@(_saving)" @onclick="@(Save)">
                                @if (!_saving)
                                {
                                <span>Save</span>
                                }
                                else
                                {
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                <span>Saving...</span>
                                }
                            </button>
                        </div>
                    </div>
                </div>
            </EditForm>
        </div>
    }
    else
    {
        <LoadingComponent Color="@(LoadingComponent.LoadingComponentColors.Light)"/>
    }
</div>