@using Blazorise.Extensions
<div class="d-flex align-items-center gap-2">
    @if (Rating is null || Rating.Count > 0 || EmptyMode == DisplayRatingComponentEmptyMode.DoubleDash)
    {
        <i id="star" class="fas fa-star"></i>
    }
    <div class="vstack">
        @if (Rating is not null && Rating.Count > 0)
        {
            <span id="ratingAverage">@($"{Math.Round(Rating.Average, 2)}/10")</span>
            <span id="ratingCount">@(Rating.Count)</span>
        }
        else
        {
            <div id="ratingNoItems">
                @if (Rating is null)
                {
                    <span><div class="spinner-border spinner-border-sm"></div>/10</span>
                }
                else
                {
                    switch (EmptyMode)
                    {
                        case DisplayRatingComponentEmptyMode.NoRatings: @("no ratings"); break;
                        case DisplayRatingComponentEmptyMode.DoubleDash: @("--/10"); break;
                    }
                }
            </div>
        }
    </div>
</div>

<style>
    #star {
        font-size: @((2 * Scale).ToCultureInvariantString())rem;
    }

    #ratingAverage {
        margin-top: @((-5 * Scale).ToCultureInvariantString())px;
        font-size: @((1.3 * Scale).ToCultureInvariantString())rem;
    }

    #ratingNoItems {
        font-size: @((1.3 * Scale).ToCultureInvariantString())rem;
    }

    #ratingCount {
        margin-top: @((-5 * Scale).ToCultureInvariantString())px;
        font-size: @((0.8 * Scale).ToCultureInvariantString())rem;
    }
</style>