<div class="container-grid">
    <div class="row">
        <div class="col-auto">
            <a class="text-reset text-decoration-none" href="@(ItemUrl)">
                <PictureComponent Picture="@(_poster)" Placeholder="@(PosterPlaceholder)" AlternativeText="poster" Height="@(PosterHeight)"/>
            </a>
        </div>
        <div class="col">
            <div class="d-flex align-items-start flex-column h-100">
                <div class="mb-auto">
                    <a style="font-size: @(NameSize)px" class="text-reset text-decoration-none" href="@(ItemUrl)">
                        <strong>@(Name)</strong>@(string.IsNullOrWhiteSpace(AdditionalInfo) ? string.Empty : AdditionalInfo)
                    </a>
                </div>
                <table id="ratingTable" class="table table-transparent table-bordered align-middle m-0">
                    <thead>
                        <tr>
                            <th scope="col">
                                <span class="rating-name-text">Global rating:</span>
                            </th>
                            @if (SecondaryRatingSingle is not null || SecondaryRatingMultiple is not null)
                            {
                                <th scope="col">
                                    <span class="rating-name-text">@(SecondaryRatingTitle):</span>
                                </th>
                            }
                            @if (GetUserRatingMethod is not null && PutRatingMethod is not null && DeleteRatingMethod is not null)
                            {
                                <th class scope="col">
                                    <span class="rating-name-text">Your rating:</span>
                                </th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <DisplayRatingComponent Rating="@(GlobalRating)"
                                                        EmptyMode="DisplayRatingComponent.DisplayRatingComponentEmptyMode.DoubleDash"
                                                        Scale="0.85"/>
                            </td>
                            @if (SecondaryRatingSingle is not null || SecondaryRatingMultiple is not null)
                            {
                                <td>
                                    <DisplayRatingComponent SingleRating="@(SecondaryRatingSingle)"
                                                            Rating="@(SecondaryRatingMultiple)"
                                                            EmptyMode="DisplayRatingComponent.DisplayRatingComponentEmptyMode.DoubleDash"
                                                            Scale="0.85"/>
                                </td>
                            }
                            @if (GetUserRatingMethod is not null && PutRatingMethod is not null && DeleteRatingMethod is not null)
                            {
                                <td>
                                    <div class="d-inline-flex align-items-center h-100">
                                        @if (_user is null)
                                        {
                                            <span id="ratingLoginInfoText">You must be logged in to rate</span>
                                        }
                                        else if (!_userRatingLoaded)
                                        {
                                            <div class="d-flex align-items-center gap-2">
                                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                                <span>Loading...</span>
                                            </div>
                                        }
                                        else
                                        {
                                            <Rating Color="Color.Light" MaxValue="10" @bind-SelectedValue="@(_userRating)" @onclick="@(RatingChanged)"/>
                                        }
                                    </div>
                                </td>
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>