@using WatchIt.Website.Components.Subcomponents.Common

@inherits Component



<div class="panel">
    <div class="vstack gap-3">
        <h4 class="fw-bold">Change password</h4>
        @if (_data is not null)
        {
            <EditForm Model="@(_data)">
                <AntiforgeryToken/>
                <div class="container-grid">
                    <div class="row form-group my-1">
                        <label for="oldPassword" class="col-2 col-form-label">Old password</label>
                        <div class="col-10">
                            <InputText id="oldPassword" type="password" class="form-control" @bind-Value="_data.OldPassword"/>
                        </div>
                    </div>
                    <div class="row form-group my-1">
                        <label for="newPassword" class="col-2 col-form-label">New password</label>
                        <div class="col-10">
                            <InputText id="newPassword" type="password" class="form-control" @bind-Value="_data.Password"/>
                        </div>
                    </div>
                    <div class="row form-group my-1">
                        <label for="newPasswordConf" class="col-2 col-form-label">Confirm new password</label>
                        <div class="col-10">
                            <InputText id="newPasswordConf" type="password" class="form-control" @bind-Value="_data.PasswordConfirmation"/>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-secondary" disabled="@(_saving)" @onclick="@(Save)">
                                    <LoadingButtonContent IsLoading="@(_saving)" Content="Save" LoadingContent="Saving..."/>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </EditForm>
        }
        else
        {
            <Loading Color="@(Loading.Colors.Light)"/>
        }
    </div>
</div>